@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import '../../../styles.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container_section {
  height: 90vh;
  width: 100%;
}

.opcion__link__item__icon {
  stroke: white;
  padding: 5px;
}

.conteiner__encabezado{
  background-color: #000835;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color:  #fff;
  padding-bottom: 20px;
  height: 82vh;
}

.conteiner__encabezado__imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 32px;
}

.container__descriontion__destination {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.conteiner__encabezado__imagen img {
  width: 30rem;
  height: 18rem;
  object-fit: fill;
}

.container__hospedaje{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 76vh;
}

.container__hospedaje__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9vh;
}

.container__hospedaje__titulo h2 {
  color: var(--color03);
  font-size: 2rem;
}


.container__hospedaje__opciones{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container__hospedaje__opcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-bottom: 25px;
  text-align: justify;
  gap: 45px;
}

.container__hospedaje__opcion__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__hospedaje__opcion__img img{
  width: 26rem;
  height: 14rem;
  object-fit: fill;
}

.container__hospedaje__opcion__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  align-items: center;
}

.container__hospedaje__opcion__info h3{
  font-size: 1.3rem;
  width: 76%;
}

.container__vuelos{
  background-color: #000835;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  height: 90vh;
}


.container__vuelos__opciones{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container__vuelos__opcion {
  display: flex;
  flex-direction: column-reverse;
  width: 40%;
  justify-content: center;
  text-align: center;
  gap: 35px;
}

.container__vuelos__opcion__info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.container__vuelos__opcion__info h3{
  font-size: 1.3rem;
  width: 50%;
}

.container__vuelos__opcion__info p {
  font-size: 1rem;
  width: 90%;;
}

.container__vuelos__opcion__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__vuelos__opcion__img img {
  width: 30rem;
  height: 18rem;
  object-fit: fill;
}

.opcion__link__item i{
  font-size: xx-large;
    margin: -10vh 0 0 0;
  width: 30px;
  color: #fff;
}

.opcion__link__item .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #000835;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  font-size: 13px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.opcion__link__item:hover .tooltiptext {
  visibility: visible;
}


/* Button enviar correo */
.container__button__correo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.bt {
  border: none;
  user-select: none;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: #0873bd;
  box-shadow: #cacaca 2px 2px 10px 1px;
  border-radius: 12px;
  height: 60px;
  line-height: 60px;
  width: 355px;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
}

.bt:hover {
  cursor: pointer;
}

.msg {
  height: 0;
  width: 0;
  border-radius: 2px;
  position: absolute;
  left: 15%;
  top: 25%;
}

.bt:active {
  transition: all 0.001s ease;
  background-color: #5d9fcd;
  box-shadow: #97989a 0 0 0 0;
  transform: translateX(1px) translateY(1px);
}

.bt:hover .msg {
  animation: msgRun 2s forwards;
}

@keyframes msgRun {
  0% {
    border-top: #d6d6d9 0 solid;
    border-bottom: #f2f2f5 0 solid;
    border-left: #f2f2f5 0 solid;
    border-right: #f2f2f5 0 solid;
  }

  20% {
    border-top: #d6d6d9 14px solid;
    border-bottom: #f2f2f5 14px solid;
    border-left: #f2f2f5 20px solid;
    border-right: #f2f2f5 20px solid;
  }

  25% {
    border-top: #d6d6d9 12px solid;
    border-bottom: #f2f2f5 12px solid;
    border-left: #f2f2f5 18px solid;
    border-right: #f2f2f5 18px solid;
  }

  80% {
    border-top: transparent 12px solid;
    border-bottom: transparent 12px solid;
    border-left: transparent 18px solid;
    border-right: transparent 18px solid;
  }

  100% {
    transform: translateX(170px);
    border-top: transparent 12px solid;
    border-bottom: transparent 12px solid;
    border-left: transparent 18px solid;
    border-right: transparent 18px solid;
  }
}

/* Button content loader */
.container__button__correo button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 60px;
  display: flex;
  justify-content: space-evenly;
}

.ball {
  list-style: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.ball:nth-child(1) {
  animation: bounce-1 2.1s ease-in-out infinite;
}

@keyframes bounce-1 {
  50% {
    transform: translateY(-18px);
  }
}

.ball:nth-child(2) {
  animation: bounce-3 2.1s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
  50% {
    transform: translateY(-18px);
  }
}

.ball:nth-child(3) {
  animation: bounce-3 2.1s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
  50% {
    transform: translateY(-18px);
  }
}
