<body class="container_section">
  <div class="container" *ngFor="let plan of plans">
    <div class="conteiner__encabezado">
      <div class="opcion__link__item">
        <a routerLink="/destino">
          <svg class="opcion__link__item__icon"  width="48"  height="48"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
        </a>
        <span class="tooltiptext">Volver a tus destino</span>
      </div>

      <h1 class="conteiner__encabezado__titulo">Destino seleccionado:</h1>
      <div class="conteiner__encabezado__imagen">
        <img [src]="plan.imageUrl" alt="{{ plan.name }}">
        <div class="container__descriontion__destination">
          <p>{{ plan.description }}</p>
        </div>
      </div>
      <div>
        <p>Te gustaron las recomendaciones de <span>{{ plan.destinationName }}</span>, podemos enviarte la información a tu correo:</p>
        <div class="container__button__correo">
          <button (click)="sendDestinationInfo(plan)" class="bt" id="bt">
            <span class="msg" id="msg"></span>
            <ng-container *ngIf="isLoading; else notLoading">
              <div class="loader">
                <li class="ball"></li>
                <li class="ball"></li>
                <li class="ball"></li>
              </div>
            </ng-container>
            <ng-template #notLoading>
              <span>{{ message || 'Clic para enviar a tu correo' }}</span>
            </ng-template>
          </button>
        </div>
      </div>
    </div>

    <div class="container__hospedaje">
      <h2 class="container__hospedaje__titulo">Tus opciones de hospedaje:</h2>
      <div>
        <p>Estas son las opciones de hospedaje que te recomendamos según tus preferencias:</p>
      </div>

      <div class="container__hospedaje__opciones">
        <div class="container__hospedaje__opcion" *ngFor="let hotel of plan.hotelOptions">
          <div class="container__hospedaje__opcion__img">
            <a [href]="hotel.url" target="_blank">
              <img [src]="hotel.imageUrl" alt="{{ hotel.name }}" />
            </a>
          </div>
          <div class="container__hospedaje__opcion__info">
            <h3>{{ hotel.name }}</h3>
            <p>{{ hotel.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container__vuelos">
      <h2>Tus opciones de vuelos:</h2>
      <div class="vuelo-container">
        <p class="txt-parrafo">
          Estos son las dos opciones de vuelos que te recomendamos según tus
          preferencias:
        </p>
      </div>

      <div class="container__vuelos__opciones">
        <div class="container__vuelos__opcion" *ngFor="let flight of plan.flightOptions">
          <div class="container__vuelos__opcion__img">
            <a [href]="flight.url" target="_blank">
              <img [src]="flight.imageUrl" alt="{{ flight.name }}"/>
            </a>
          </div>

          <div class="container__vuelos__opcion__info">
            <h3>{{ flight.name }}</h3>
            <p class="txt-parrafo">{{ flight.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
