<main class="conteiner">
  <h1 class="conteiner__titulo">Tus Destinos:</h1>

  <div class="conteiner__title__exotic" *ngIf="showExoticMessage">
    <h3 class="text__title">
      Tus Gustos son bastante exóticos, te sugerimos los siguientes lugares:
    </h3>
  </div>

  <div class="conteiner--opciones" *ngIf="!loading">
    <section class="opciones--opcion">
      <div class="opcion__encabezado">
        <h2 class="opcion__encabezado__nombre" (click)="destino()">
          Aventura en
          <ng-container *ngIf="america[0]?.continente === 'América'; else showAsia">
            América
          </ng-container>
          <ng-template #showAsia> Asia </ng-template>
        </h2>
      </div>

      <div class="opcion__destino">
        <input
          [value]="america[0]?.nombreDestino"
          class="opcion__encabezado__destino focus-in-expand"
          type="text"
          readonly
          id="destinoAmerica"
        />
      </div>

      <div class="opcion__imagen">
        <img
          *ngIf="america[0]?.img; else loadingImages"
          [src]="america[0]?.img"
          alt="Destino en América"
          id="imagenAmerica"
        />
        <!-- Loading -->
        <ng-template #loadingImages>
            <div id="wifi-loader">
                <svg class="circle-outer" viewBox="0 0 86 86">
                    <circle class="back" cx="43" cy="43" r="40"></circle>
                    <circle class="front" cx="43" cy="43" r="40"></circle>
                    <circle class="new" cx="43" cy="43" r="40"></circle>
                </svg>
                <svg class="circle-middle" viewBox="0 0 60 60">
                    <circle class="back" cx="30" cy="30" r="27"></circle>
                    <circle class="front" cx="30" cy="30" r="27"></circle>
                </svg>
                <svg class="circle-inner" viewBox="0 0 34 34">
                    <circle class="back" cx="17" cy="17" r="14"></circle>
                    <circle class="front" cx="17" cy="17" r="14"></circle>
                </svg>
                <div class="text" data-text="Searching"></div>
            </div>
        </ng-template>
        <div class="overlay">
          <div class="text">
            <p>Pais:</p>
            <input
              class="text__input"
              type="text"
              [value]="america[0]?.pais"
              readonly
            />
            <p>Idioma:</p>
            <input
              class="text__input"
              type="text"
              [value]="america[0]?.idioma"
              readonly
            />
            <p>Lugar Imperdible:</p>
            <input
              class="text__input"
              type="text"
              [value]="america[0]?.lugarImperdible"
              readonly
            />
            <p>Comida típica:</p>
            <input
              class="text__input"
              type="text"
              [value]="america[0]?.comidaTipica"
              readonly
            />
          </div>
        </div>
      </div>

      <a [routerLink]="['/planes', america[0]?.nombreDestino]">
        <div class="opcion__link__item">
          <img src="../../../assets/img/paquete.png" alt=""/>
          <span class="tooltiptext">Explora tus opciones</span>
        </div>
      </a>
    </section>

    <section class="opciones--opcion">
      <div class="opcion__encabezado">
        <h2 class="opcion__encabezado__nombre">
          Aventura en
          <ng-container *ngIf="europa[0]?.continente === 'Europa'; else showOceania">
            Europa
          </ng-container>
          <ng-template #showOceania> Oceanía </ng-template>
        </h2>
      </div>

      <div class="opcion__destino">
        <input
          [value]="europa[0]?.nombreDestino"
          class="opcion__encabezado__destino focus-in-expand"
          type="text"
          readonly
          id="destinoEuropa"
        />
      </div>

      <div class="opcion__imagen">
        <img
          *ngIf="europa[0]?.img; else loadingImages"
          [src]="europa[0]?.img"
          alt="Destino en Europa"
          id="imagenEuropa"
        />
        <!-- Loading -->
        <ng-template #loadingImages>
            <div id="wifi-loader">
                <svg class="circle-outer" viewBox="0 0 86 86">
                    <circle class="back" cx="43" cy="43" r="40"></circle>
                    <circle class="front" cx="43" cy="43" r="40"></circle>
                    <circle class="new" cx="43" cy="43" r="40"></circle>
                </svg>
                <svg class="circle-middle" viewBox="0 0 60 60">
                    <circle class="back" cx="30" cy="30" r="27"></circle>
                    <circle class="front" cx="30" cy="30" r="27"></circle>
                </svg>
                <svg class="circle-inner" viewBox="0 0 34 34">
                    <circle class="back" cx="17" cy="17" r="14"></circle>
                    <circle class="front" cx="17" cy="17" r="14"></circle>
                </svg>
                <div class="text" data-text="Searching"></div>
            </div>
        </ng-template>
        <div class="overlay">
          <div class="text">
            <p>Pais:</p>
            <input
              class="text__input"
              type="text"
              [value]="europa[0]?.pais"
              readonly
            />
            <p>Idioma:</p>
            <input
              class="text__input"
              type="text"
              [value]="europa[0]?.idioma"
              readonly
            />
            <p>Lugar Imperdible:</p>
            <input
              class="text__input"
              type="text"
              [value]="europa[0]?.lugarImperdible"
              readonly
            />
            <p>Comida típica:</p>
            <input
              class="text__input"
              type="text"
              [value]="europa[0]?.comidaTipica"
              readonly
            />
          </div>
        </div>
      </div>

      <a [routerLink]="['/planes', europa[0]?.nombreDestino]">
        <div class="opcion__link__item">
          <img src="../../../assets/img/paquete.png" alt=""/>
          <span class="tooltiptext">Explora tus opciones</span>
        </div>
      </a>
    </section>
  </div>

  <div class="container_button">
    <div class="container__text">
      <p class="text__title">¿Quieres cambiar tus preferencias?</p>
    </div>
    <div class="button__reset__container">
      <button class="button__reset" (click)="resetForm()">Reset Form</button>
    </div>
  </div>
</main>
