<main class="conteiner">
  <h1 class="conteiner__titulo">Tus Destinos:</h1>

  <div class="conteiner__title__exotic" *ngIf="showExoticMessage">
    <h3 class="text__title">
      Tus Gustos son bastante exóticos, te sugerimos los siguientes lugares:
    </h3>
  </div>

  <div *ngIf="loading">Cargando...</div>

  <div class="conteiner--opciones">
    <section class="opciones--opcion">
      <div class="opcion__encabezado">
        <h2 class="opcion__encabezado__nombre" (click)="destino()">
          Aventura en
          <ng-container *ngIf="america[0]?.continente === 'América'; else showAsia">
            América
          </ng-container>
          <ng-template #showAsia> Asia </ng-template>
        </h2>
      </div>

      <div class="opcion__destino">
        <input
          [value]="america[0]?.nombreDestino"
          class="opcion__encabezado__destino focus-in-expand"
          type="text"
          readonly
          id="destinoAmerica"
        />
      </div>

      <div class="opcion__imagen">
        <img
          [src]="america[0]?.img"
          alt="Destino en América"
          id="imagenAmerica"
        />
        <div class="overlay">
          <div class="text">
            <p>Pais:</p>
            <input
              class="text__input"
              type="text"
              [value]="america[0]?.pais"
              readonly
            />
            <p>Idioma:</p>
            <input
              class="text__input"
              type="text"
              [value]="america[0]?.idioma"
              readonly
            />
            <p>Lugar Imperdible:</p>
            <input
              class="text__input"
              type="text"
              [value]="america[0]?.lugarImperdible"
              readonly
            />
            <p>Comida típica:</p>
            <input
              class="text__input"
              type="text"
              [value]="america[0]?.comidaTipica"
              readonly
            />
          </div>
        </div>
      </div>

      <a [routerLink]="['/planes', america[0]?.nombreDestino]">
        <div class="opcion__link__item">
          <img src="../../../assets/img/paquete.png" alt=""/>
          <span class="tooltiptext">Explora tus opciones</span>
        </div>
      </a>
    </section>

    <section class="opciones--opcion">
      <div class="opcion__encabezado">
        <h2 class="opcion__encabezado__nombre">
          Aventura en
          <ng-container *ngIf="europa[0]?.continente === 'Europa'; else showOceania">
            Europa
          </ng-container>
          <ng-template #showOceania> Oceanía </ng-template>
        </h2>
      </div>

      <div class="opcion__destino">
        <input
          [value]="europa[0]?.nombreDestino"
          class="opcion__encabezado__destino focus-in-expand"
          type="text"
          readonly
          id="destinoEuropa"
        />
      </div>

      <div class="opcion__imagen">
        <img [src]="europa[0]?.img" alt="Destino en Europa" id="imagenEuropa" />
        <div class="overlay">
          <div class="text">
            <p>Pais:</p>
            <input
              class="text__input"
              type="text"
              [value]="europa[0]?.pais"
              readonly
            />
            <p>Idioma:</p>
            <input
              class="text__input"
              type="text"
              [value]="europa[0]?.idioma"
              readonly
            />
            <p>Lugar Imperdible:</p>
            <input
              class="text__input"
              type="text"
              [value]="europa[0]?.lugarImperdible"
              readonly
            />
            <p>Comida típica:</p>
            <input
              class="text__input"
              type="text"
              [value]="europa[0]?.comidaTipica"
              readonly
            />
          </div>
        </div>
      </div>

      <a [routerLink]="['/planes', europa[0]?.nombreDestino]">
        <div class="opcion__link__item">
          <img src="../../../assets/img/paquete.png" alt=""/>
          <span class="tooltiptext">Explora tus opciones</span>
        </div>
      </a>
    </section>
  </div>
</main>
